<% title "Sign Up" %>

<main class="container mt-5 authentication">

  <%= form_for resource, as: resource_name, url: user_registration_path do |f| %>

    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= field_with_errors(f, :text_field, :name) %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= field_with_errors(f, :email_field, :email) %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= field_with_errors(f, :password_field, :password) %>
      <div id="userPasswordHelp" class="form-text">
        Password must contain at least <%= @minimum_password_length %> characters.
      </div>
    </div>

    <div class="d-grid">
      <%= f.button(class: "btn btn-primary") { button_content("Sign up") } %>
    </div>
  <% end %>  

  <p class="mt-4">Already have an account? <%= link_to 'Log in', new_user_session_path, class: "text-decoration-none" %></p>
</main>
