<% title "Change your password" %>

<main class="container mt-3 authentication">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mt-4 mb-4">
      <%= f.label :password, "New Password", class: "form-label" %>
      <%= field_with_errors(f, :password_field, :password) %>
      <div id="userPasswordHelp" class="form-text">
        Password must contain at least <%= @minimum_password_length %> characters.
      </div>
    </div>

    <div class="d-grid">
      <%= f.submit 'Change my password', class: "btn btn-primary" %>
    </div>
  <% end %>

</main>
