<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container custom-container justify-content-start">
      <button class="navbar-toggler me-3 order-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to "QA", root_path, class: "navbar-brand order-2" %>

      <ul class="navbar-nav ms-auto order-3 main-nav-links">
        <% if user_signed_in? %>


          <li class="nav-item dropdown notifications-dropdown me-2" data-controller="notifications">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-action="notifications#markAsRead">
              <i class="bi bi-bell-fill"></i>
              <%= render "notifications/unread_count" %>
            </a>
            <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div id="recentNotifications">              
                <%= render current_user.notifications.recent %>
              </div>
              <li class="text-center"><%= link_to "All Notifications", notifications_path, class: "text-muted text-decoration-none dropdown-item" %></li>
            </ul>
          </li>


          <li class="nav-item dropdown">  
            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="rounded-initial"><%= current_user.name_initial %></span>
            </a>

            <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Asked questions", questions_path, class: "dropdown-item" %>
              <%= link_to "Followed questions", followed_path, class: "dropdown-item" %>

              <%= link_to "Settings", settings_path, class: "dropdown-item" %>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-link dropdown-item" %></li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item"><%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %></li>
        <% end %>
      </ul>

      <div class="collapse navbar-collapse order-4 mt-3" id="navbarSupportedContent">
        <%= search_form_for Question.ransack, url: "/search", class: "flex-grow-1" do |f| %>
          <div class="input-group">
            <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
            <%= f.search_field :title_cont, class: "form-control", placeholder: "Search", "aria-label": "Search", value: search_query %>
          </div>
        <% end %>
      </div>
  </nav>
</header>
