<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container custom-container justify-content-start">
      <button class="navbar-toggler me-3 order-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to "QA", root_path, class: "navbar-brand order-2" %>

      <ul class="navbar-nav ms-auto order-3 main-nav-links">

        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="rounded-initial"><%= current_user.name_initial %></span>
            </a>

            <ul class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-link dropdown-item" %></li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item"><%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %></li>
        <% end %>
      </ul>

      <div class="collapse navbar-collapse order-4 mt-3" id="navbarSupportedContent">
        <form class="flex-grow-1">
          <div class="input-group">
            <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
            <%= search_field_tag :title, nil, class: "form-control", placeholder: "Search", "aria-label": "Search" %>
          </div>
        </form>
      </div>
  </nav>
</header>
