<% title "Settings" %>

<main id="settings" class="container mt-3">
  <%= form_with model: @user, url: settings_path do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= field_with_errors(form, :text_field, :name, required: false) %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= field_with_errors(form, :email_field, :email) %>
    </div>

    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= field_with_errors(form, :password_field, :password, required: false) %>
      <div id="userPasswordHelp" class="form-text">
        Leave blank if you do not want to change it
      </div>
    </div>

    <div class="d-grid">
      <%= form.button(class: "btn btn-primary") { button_content("Update") } %>
    </div>

  <% end %>

  <%= button_to(user_registration_path, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "Are you sure you want to delete your account? This action will cause everything related to your account deleted i.e. questions, answers etc.", turbo: false } }, form_class: "mt-4") { button_content "Delete account" } %>

</main>

