<% title @subject.title %>

<main class="container custom-container mt-4">
  <div class="d-flex justify-content-between">
    <h1 class="fs-3 fw-normal"><%= @subject.title %></h1>  

    <div>
      <%= link_to "Ask Question", ask_question_path, class: "btn btn-primary"%> 
    </div>
  </div>

  <div class="mt-4">

    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <%= link_to "Recent", slug_path(@subject), tab_link_options("recent") %>
      </li>
      <li class="nav-item">
        <%= link_to "Most Votes", slug_path(@subject, tab: "most-votes"), tab_link_options("most-votes") %>
      </li>
      <%= render "subjects/subjects_dropdown" %>
    </ul>

  </div>

  <div class="mt-4">
    <% if @questions.empty? %>
      <%= link_to "There are no questions for this subject yet.", ask_question_path, class: "text-decoration-none" %>
    <% end %>

    <%= render "questions/questions", questions: @questions %>
  </div>

  <%= render "shared/paginate", questions: @questions %>
</main>

